{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": "true"
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "function-paren-newline": "off",
    "max-len": [1, 120],
    "no-param-reassign": "off",
    "react/require-default-props": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}
