body {
    margin: 0;
    padding: 0;
}

.Header {
    background-color: #ddd;
    padding: 20px;
    margin: 0;
    font-family: sans-serif;

    a {
        color: #333;
        text-decoration: none;
        font-size: 18px;
    }
}
